<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryNoteEntry">
            <h2><span>Delivery Note Entry</span> {{deliveryNoteEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{deliveryNoteEntry.description}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{deliveryNoteEntry.amount}}</span>
                </dd>
                <dt><span>Delivery Note</span></dt>
                <dd>
                    <div *ngIf="deliveryNoteEntry.deliveryNote">
                        <a [routerLink]="['/delivery-note', deliveryNoteEntry.deliveryNote?.id, 'view']">{{deliveryNoteEntry.deliveryNote?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-note-entry', deliveryNoteEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
