<div>
    <h2 id="page-heading">
        <span>Delivery Note Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-note-entry" [routerLink]="['/delivery-note-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Delivery Note Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="deliveryNoteEntries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Amount</span></th>
            <th><span>Delivery Note</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deliveryNoteEntry of deliveryNoteEntries ;trackBy: trackId">
                <td><a [routerLink]="['/delivery-note-entry', deliveryNoteEntry.id, 'view' ]">{{deliveryNoteEntry.id}}</a></td>
                <td>{{deliveryNoteEntry.description}}</td>
                <td>{{deliveryNoteEntry.amount}}</td>
                <td>
                    <div *ngIf="deliveryNoteEntry.deliveryNote">
                        <a [routerLink]="['../delivery-note', deliveryNoteEntry.deliveryNote?.id, 'view' ]" >{{deliveryNoteEntry.deliveryNote?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/delivery-note-entry', deliveryNoteEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/delivery-note-entry', deliveryNoteEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery-note-entry/'+ deliveryNoteEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
