<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-delivery-note-entry-heading">Create or edit a Delivery Note Entry</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!deliveryNoteEntry.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="deliveryNoteEntry.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="deliveryNoteEntry.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="deliveryNoteEntry.amount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryNote">Delivery Note</label>
                    <select class="form-control" id="field_deliveryNote" name="deliveryNote" [(ngModel)]="deliveryNoteEntry.deliveryNote" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="deliveryNoteOption.id === deliveryNoteEntry.deliveryNote?.id ? deliveryNoteEntry.deliveryNote : deliveryNoteOption" *ngFor="let deliveryNoteOption of deliverynotes; trackBy: trackDeliveryNoteById">{{deliveryNoteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
