/* ==========================================================================
Delivery Note Styles
========================================================================== */

.comment-label {
    font-weight: bolder;
    text-transform: capitalize;
}
