<div>
    <h2 id="page-heading">
        <span>Lieferscheine</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-note" [routerLink]="['/delivery-note/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Neuen Lieferschein anlegen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="deliveryNotes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Liescherscheinnumer</span></th>
            <th><span>Lieferaddresse</span></th>
            <th><span>Lieferant</span></th>
            <th><span>Lieferant Adresse</span></th>
            <th><span>Ausgestellt am</span></th>
            <th><span>Abgerechnet</span></th>
            <th><span>Auftraggeber</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deliveryNote of deliveryNotes ;trackBy: trackId">
                <td><a [routerLink]="['/delivery-note', deliveryNote.id, 'view' ]">{{deliveryNote.id}}</a></td>
                <td>{{deliveryNote.noteNumber}}</td>
                <td>{{deliveryNote.deliveryAdress}}</td>
                <td>{{deliveryNote.supplierFirm}}</td>
                <td>{{deliveryNote.supplierAdress}}</td>
                <td>{{deliveryNote.issueDate | date:'mediumDate'}}</td>
                <td>{{deliveryNote.finished}}</td>
                <td>{{deliveryNote.principal}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/delivery-note', deliveryNote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ansehen</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/delivery-note', deliveryNote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Bearbeiten</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery-note/'+ deliveryNote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Löschen</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
