<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryNote">
            <h2><span>Delivery Note</span> {{deliveryNote.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Note Number</span></dt>
                <dd>
                    <span>{{deliveryNote.noteNumber}}</span>
                </dd>
                <dt><span>Delivery Adress</span></dt>
                <dd>
                    <span>{{deliveryNote.deliveryAdress}}</span>
                </dd>
                <dt><span>Supplier Firm</span></dt>
                <dd>
                    <span>{{deliveryNote.supplierFirm}}</span>
                </dd>
                <dt><span>Supplier Adress</span></dt>
                <dd>
                    <span>{{deliveryNote.supplierAdress}}</span>
                </dd>
                <dt><span>Issue Date</span></dt>
                <dd>
                    <span>{{deliveryNote.issueDate}}</span>
                </dd>
                <dt><span>Finished</span></dt>
                <dd>
                    <span>{{deliveryNote.finished}}</span>
                </dd>
                <dt><span>Principal</span></dt>
                <dd>
                    <span>{{deliveryNote.principal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-note', deliveryNote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
