<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-delivery-note-heading">Lieferschein senden</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!deliveryNote.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="deliveryNote.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_noteNumber">Lieferschein Nummer</label>
                    <input type="text" class="form-control" name="noteNumber" id="field_noteNumber"
                           [(ngModel)]="deliveryNote.noteNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryAdress">Lieferadresse</label>
                    <input type="text" class="form-control" name="deliveryAdress" id="field_deliveryAdress"
                           [(ngModel)]="deliveryNote.deliveryAdress" required/>
                    <div
                        [hidden]="!(editForm.controls.deliveryAdress?.dirty && editForm.controls.deliveryAdress?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.deliveryAdress?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplierFirm">Lieferant</label>
                    <input type="text" class="form-control" name="supplierFirm" id="field_supplierFirm"
                           [(ngModel)]="deliveryNote.supplierFirm" required/>
                    <div [hidden]="!(editForm.controls.supplierFirm?.dirty && editForm.controls.supplierFirm?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.supplierFirm?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplierAdress">Lieferant Adresse</label>
                    <input type="text" class="form-control" name="supplierAdress" id="field_supplierAdress"
                           [(ngModel)]="deliveryNote.supplierAdress" required/>
                    <div
                        [hidden]="!(editForm.controls.supplierAdress?.dirty && editForm.controls.supplierAdress?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.supplierAdress?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issueDate">Ausgestellt am</label>
                    <div class="input-group">
                        <input id="field_issueDate" type="text" class="form-control" name="issueDate" ngbDatepicker
                               #issueDateDp="ngbDatepicker" [(ngModel)]="deliveryNote.issueDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="issueDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <h4>Positionen</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let entry of deliveryNote.entries; let in =index">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Bezeichnung"
                                       name="description-{{in}}"
                                       [(ngModel)]="entry.description">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Menge" name="amount-{{in}}"
                                       [(ngModel)]="entry.amount">
                            </div>
                        </div>
                    </li>
                </ul>
                <div  role="group" aria-label="">
                    <button type="button" id="remove-deliveryNoteEntry" class="btn btn-secondary" (click)="removeRow()">
                        Entfernen
                    </button>
                    <button type="button" id="add-deliveryNoteEntry" class="btn btn-primary" (click)="addRow()">
                        Hinzufügen
                    </button>
                </div>
                <hr>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Abbrechen</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Speichern</span>
                </button>
            </div>
        </form>
    </div>
</div>
