<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceComment">
            <h2><span>Invoice Comment</span> {{invoiceComment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{invoiceComment.text}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <span>{{invoiceComment.user}}</span>
                </dd>
                <dt><span>Invoice</span></dt>
                <dd>
                    <div *ngIf="invoiceComment.invoice">
                        <a [routerLink]="['/invoice', invoiceComment.invoice?.id, 'view']">{{invoiceComment.invoice?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-comment', invoiceComment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
