<div>
    <h2 id="page-heading">
        <span>Invoice Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-comment" [routerLink]="['/invoice-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceComments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Text</span></th>
            <th><span>User</span></th>
            <th><span>Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceComment of invoiceComments ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-comment', invoiceComment.id, 'view' ]">{{invoiceComment.id}}</a></td>
                <td>{{invoiceComment.text}}</td>
                <td>{{invoiceComment.user}}</td>
                <td>
                    <div *ngIf="invoiceComment.invoice">
                        <a [routerLink]="['../invoice', invoiceComment.invoice?.id, 'view' ]" >{{invoiceComment.invoice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-comment', invoiceComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-comment', invoiceComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-comment/'+ invoiceComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
