<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-process-comment-heading">Create or edit a Invoice Process Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoiceProcessComment.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invoiceProcessComment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="invoiceProcessComment.text" required/>
                    <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.text?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                        [(ngModel)]="invoiceProcessComment.user" required/>
                    <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceProcess">Invoice Process</label>
                    <select class="form-control" id="field_invoiceProcess" name="invoiceProcess" [(ngModel)]="invoiceProcessComment.invoiceProcess" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceProcessOption.id === invoiceProcessComment.invoiceProcess?.id ? invoiceProcessComment.invoiceProcess : invoiceProcessOption" *ngFor="let invoiceProcessOption of invoiceprocesses; trackBy: trackInvoiceProcessById">{{invoiceProcessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
