<div>
    <h2 id="page-heading">
        <span>Invoice Process Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-process-comment" [routerLink]="['/invoice-process-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Process Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceProcessComments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Text</span></th>
            <th><span>User</span></th>
            <th><span>Invoice Process</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceProcessComment of invoiceProcessComments ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-process-comment', invoiceProcessComment.id, 'view' ]">{{invoiceProcessComment.id}}</a></td>
                <td>{{invoiceProcessComment.text}}</td>
                <td>{{invoiceProcessComment.user}}</td>
                <td>
                    <div *ngIf="invoiceProcessComment.invoiceProcess">
                        <a [routerLink]="['../invoice-process', invoiceProcessComment.invoiceProcess?.id, 'view' ]" >{{invoiceProcessComment.invoiceProcess?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-process-comment', invoiceProcessComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-process-comment', invoiceProcessComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-process-comment/'+ invoiceProcessComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
