<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceProcessComment">
            <h2><span>Invoice Process Comment</span> {{invoiceProcessComment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{invoiceProcessComment.text}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <span>{{invoiceProcessComment.user}}</span>
                </dd>
                <dt><span>Invoice Process</span></dt>
                <dd>
                    <div *ngIf="invoiceProcessComment.invoiceProcess">
                        <a [routerLink]="['/invoice-process', invoiceProcessComment.invoiceProcess?.id, 'view']">{{invoiceProcessComment.invoiceProcess?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-process-comment', invoiceProcessComment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
