<div>
    <h2 id="page-heading">
        <span>Invoice Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-entry" [routerLink]="['/invoice-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceEntries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Amount</span></th>
            <th><span>Price</span></th>
            <th><span>Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceEntry of invoiceEntries ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-entry', invoiceEntry.id, 'view' ]">{{invoiceEntry.id}}</a></td>
                <td>{{invoiceEntry.description}}</td>
                <td>{{invoiceEntry.amount}}</td>
                <td>{{invoiceEntry.price}}</td>
                <td>
                    <div *ngIf="invoiceEntry.invoice">
                        <a [routerLink]="['../invoice', invoiceEntry.invoice?.id, 'view' ]" >{{invoiceEntry.invoice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-entry', invoiceEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-entry', invoiceEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-entry/'+ invoiceEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
