<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceEntry">
            <h2><span>Invoice Entry</span> {{invoiceEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{invoiceEntry.description}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{invoiceEntry.amount}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{invoiceEntry.price}}</span>
                </dd>
                <dt><span>Invoice</span></dt>
                <dd>
                    <div *ngIf="invoiceEntry.invoice">
                        <a [routerLink]="['/invoice', invoiceEntry.invoice?.id, 'view']">{{invoiceEntry.invoice?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-entry', invoiceEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
