<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span>Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Nummer</span></dt>
                <dd>
                    <span>{{invoice.invoiceNummer}}</span>
                </dd>
                <dt><span>Date Issued</span></dt>
                <dd>
                    <span>{{invoice.dateIssued}}</span>
                </dd>
                <dt><span>Invoice Adress</span></dt>
                <dd>
                    <span>{{invoice.invoiceAdress}}</span>
                </dd>
                <dt><span>Issuer Adress</span></dt>
                <dd>
                    <span>{{invoice.issuerAdress}}</span>
                </dd>
                <dt><span>Issuer Firm</span></dt>
                <dd>
                    <span>{{invoice.issuerFirm}}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{invoice.dueDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{invoice.status}}</span>
                </dd>
                <dt><span>Receiver</span></dt>
                <dd>
                    <span>{{invoice.receiver}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
