<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-heading">Rechnung erstellen oder bearbeiten</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceNummer">Rechnungsnummer</label>
                    <input type="text" class="form-control" name="invoiceNummer" id="field_invoiceNummer"
                        [(ngModel)]="invoice.invoiceNummer" required/>
                    <div [hidden]="!(editForm.controls.invoiceNummer?.dirty && editForm.controls.invoiceNummer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceNummer?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateIssued">Ausstellungsdatum</label>
                    <div class="input-group">
                        <input id="field_dateIssued" type="text" class="form-control" name="dateIssued" ngbDatepicker  #dateIssuedDp="ngbDatepicker" [(ngModel)]="invoice.dateIssued"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateIssuedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceAdress">Rechnungsanschrift</label>
                    <input type="text" class="form-control" name="invoiceAdress" id="field_invoiceAdress"
                        [(ngModel)]="invoice.invoiceAdress" required/>
                    <div [hidden]="!(editForm.controls.invoiceAdress?.dirty && editForm.controls.invoiceAdress?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceAdress?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issuerAdress">Adresse Rechnungssteller</label>
                    <input type="text" class="form-control" name="issuerAdress" id="field_issuerAdress"
                        [(ngModel)]="invoice.issuerAdress" required/>
                    <div [hidden]="!(editForm.controls.issuerAdress?.dirty && editForm.controls.issuerAdress?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.issuerAdress?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issuerFirm">Firma</label>
                    <input type="text" class="form-control" name="issuerFirm" id="field_issuerFirm"
                        [(ngModel)]="invoice.issuerFirm" required/>
                    <div [hidden]="!(editForm.controls.issuerFirm?.dirty && editForm.controls.issuerFirm?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.issuerFirm?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dueDate">Fälligkeit</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker  #dueDateDp="ngbDatepicker" [(ngModel)]="invoice.dueDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Bearbeitungsstatus</label>
                    <input class="form-control" name="status" [(ngModel)]="invoice.status" id="field_status"  readonly/>
                </div>
                <h4>Positionen</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let entry of invoice.entries; let in =index">
                        <div class="form-row">
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Bezeichnung"
                                       name="description-{{in}}"
                                       [(ngModel)]="entry.description">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Preis" name="price-{{in}}"
                                       [(ngModel)]="entry.price">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" placeholder="Menge" name="amount-{{in}}"
                                       [(ngModel)]="entry.amount">
                            </div>
                        </div>
                    </li>
                </ul>
                <div  role="group" aria-label="">
                    <button type="button" id="remove-deliveryNoteEntry" class="btn btn-secondary" (click)="removeRow()">
                        Entfernen
                    </button>
                    <button type="button" id="add-deliveryNoteEntry" class="btn btn-primary" (click)="addRow()">
                        Hinzufügen
                    </button>
                </div>
                <h4>Kommentare</h4>
                <ul *ngFor="let comment of invoice.comments">
                    <p class="comment-label">{{comment.user}}:</p>
                    <p>{{comment.text}}</p>
                </ul>

                <div class="form-group">
                    <label for="commentField">Kommentar</label>
                    <textarea class="form-control" id="commentField" rows="3" name="newComment" [(ngModel)]="newComment.text"></textarea>
                </div>
                <button type="button" id="add-comment" class="btn btn-primary" (click)="addComment()">
                   Hinzufügen
                </button>
                <hr>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
