<div>
    <h2 id="page-heading">
        <span>Rechnungen</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Neue Rechnung anlegen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rechnungsnummer</span></th>
            <th><span>Austellungsdatum</span></th>
            <th><span>Firma</span></th>
            <th><span>Fälligkeit</span></th>
            <th><span>Bearbeitungsstatus</span></th>
            <th><span>Gesamtbetrag</span></th>
            <th><span>Rechnungsempfänger</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.invoiceNummer}}</td>
                <td>{{invoice.dateIssued | date:'mediumDate'}}</td>
                <td>{{invoice.issuerFirm}}</td>
                <td>{{invoice.dueDate | date:'mediumDate'}}</td>
                <td>{{invoice.status}}</td>
                <td>{{invoice.total | currency:'EUR'}}</td>
                <td>{{invoice.receiver}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Anzeigen</span>
                        </button>
                        <button type="submit"
                                *ngIf="invoice.status=='NEW'"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Bearbeiten</span>
                        </button>
                        <button type="submit"
                                *ngIf="invoice.status=='FINISHED'"
                                [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Löschen</span>
                        </button>
                        <button type="submit"
                                *ngIf="invoice.status=='NEW'"
                                (click)="send(invoice)"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'arrow-right'"></fa-icon>
                            <span class="d-none d-md-inline">Senden</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
