<h1 class="display-4">Lieferscheine und Rechnungen verwalten</h1>

<div [ngSwitch]="isAuthenticated()">
    <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > You are logged in as user "{{account.login}}". </span>
    </div>
    <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Please </span>
        <a class="alert-link" (click)="login()">sign in</a><span>.
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="register">Register a new account</a>
    </div>
</div>

<p>
    Sie haben folgende Optionen:
</p>

<ul>
    <li><a [routerLink]="['/delivery-note']">Lierferscheine verwalten</a></li>
    <li><a [routerLink]="['/invoice']">Rechnungen verwalten</a></li>
    <li><a [routerLink]="['/invoice-process']">Rechnungen prüfen</a></li>
    <!--<li><a [routerLink]="['/escalation']" Eskalierte Rechnungen anzeigen</a></li>-->
</ul>

