<form name="selectDeliveryNote" (ngSubmit)="confirmSelection()">
    <div class="modal-header">
        <h4 class="modal-title">Lieferschein auswählen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let deliveryNote of deliveryNotes"
                [class.active]="deliveryNote.id===selectedId"
                (click)="selectDeliveryNote(deliveryNote.id)">
                <h2><span>Lieferschein</span> {{deliveryNote.id}}</h2>
                <hr>
                <dl class="row-md jh-entity-details">
                    <dt><span>Note Number</span></dt>
                    <dd>
                        <span>{{deliveryNote.noteNumber}}</span>
                    </dd>
                    <dt><span>Delivery Adress</span></dt>
                    <dd>
                        <span>{{deliveryNote.deliveryAdress}}</span>
                    </dd>
                    <dt><span>Supplier Firm</span></dt>
                    <dd>
                        <span>{{deliveryNote.supplierFirm}}</span>
                    </dd>
                    <dt><span>Supplier Adress</span></dt>
                    <dd>
                        <span>{{deliveryNote.supplierAdress}}</span>
                    </dd>
                    <dt><span>Issue Date</span></dt>
                    <dd>
                        <span>{{deliveryNote.issueDate}}</span>
                    </dd>
                    <dt><span>Finished</span></dt>
                    <dd>
                        <span>{{deliveryNote.finished}}</span>
                    </dd>
                    <dt><span>Principal</span></dt>
                    <dd>
                        <span>{{deliveryNote.principal}}</span>
                    </dd>
                </dl>
                <h4>Positionen</h4>
                <ul>
                    <li *ngFor="let dentry of deliveryNote.entries">{{dentry.description}} {{dentry.amount}}
                    </li>
                </ul>
                <hr>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button id="jhi-confirm-choose-delivery-note" type="submit" class="btn btn-primary">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Auswählen</span>
        </button>
    </div>
</form>
