<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-process-heading">Vorgang bearbeiten</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoiceProcess.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="invoiceProcess.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input class="form-control" name="status" [(ngModel)]="invoiceProcess.status" id="field_status"
                           readonly/>
                </div>
                <div class="row">
                    <div *ngIf="invoice" class="col-md-6">
                        <h4><span>Rechnung</span> {{invoice.id}}</h4>
                        <hr>
                        <dl class="row-md jh-entity-details">
                            <dt><span>Rechnungsnummer</span></dt>
                            <dd>
                                <span>{{invoice.invoiceNummer}}</span>
                            </dd>
                            <dt><span>Austellungsdatum</span></dt>
                            <dd>
                                <span>{{invoice.dateIssued}}</span>
                            </dd>
                            <dd>
                                <span>Gesamtbetrag</span>
                            </dd>
                            <dd>
                                <span>{{invoice.total | currency:'EUR'}}</span>
                            </dd>
                            <dt><span>Rechnungsanschrift</span></dt>
                            <dd>
                                <span>{{invoice.invoiceAdress}}</span>
                            </dd>
                            <dt><span>Adresse Austeller</span></dt>
                            <dd>
                                <span>{{invoice.issuerAdress}}</span>
                            </dd>
                            <dt><span>Firma</span></dt>
                            <dd>
                                <span>{{invoice.issuerFirm}}</span>
                            </dd>
                            <dt><span>Fälligkeit</span></dt>
                            <dd>
                                <span>{{invoice.dueDate}}</span>
                            </dd>
                            <dt><span>Bearbeitungsstaus</span></dt>
                            <dd>
                                <span>{{invoice.status}}</span>
                            </dd>
                            <dt><span>Rechnungsempfänger</span></dt>
                            <dd>
                                <span>{{invoice.receiver}}</span>
                            </dd>
                        </dl>
                        <h4>Positionen</h4>
                        <ul>
                            <li *ngFor="let ientry of invoice.entries">{{ientry.description}}
                                {{ientry.price|currency:'EUR'}} a {{ientry.amount}} Stck., Summe:
                                {{ientry.price*ientry.amount | currency:'EUR'}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="deliveryNote">
                            <h2><span>Lieferschein</span> {{deliveryNote.id}}</h2>
                            <hr>
                            <dl class="row-md jh-entity-details">
                                <dt><span>Note Number</span></dt>
                                <dd>
                                    <span>{{deliveryNote.noteNumber}}</span>
                                </dd>
                                <dt><span>Delivery Adress</span></dt>
                                <dd>
                                    <span>{{deliveryNote.deliveryAdress}}</span>
                                </dd>
                                <dt><span>Supplier Firm</span></dt>
                                <dd>
                                    <span>{{deliveryNote.supplierFirm}}</span>
                                </dd>
                                <dt><span>Supplier Adress</span></dt>
                                <dd>
                                    <span>{{deliveryNote.supplierAdress}}</span>
                                </dd>
                                <dt><span>Issue Date</span></dt>
                                <dd>
                                    <span>{{deliveryNote.issueDate}}</span>
                                </dd>
                                <dt><span>Finished</span></dt>
                                <dd>
                                    <span>{{deliveryNote.finished}}</span>
                                </dd>
                                <dt><span>Principal</span></dt>
                                <dd>
                                    <span>{{deliveryNote.principal}}</span>
                                </dd>
                            </dl>
                            <h4>Positionen</h4>
                            <ul>
                                <li *ngFor="let dentry of deliveryNote.entries">{{dentry.description}} {{dentry.amount}}
                                </li>
                            </ul>
                        </div>
                        <button [routerLink]="['/', { outlets: { popup: 'invoice-process/'+ invoiceProcess.id + '/choose-delivery-note'} }]"
                                type="button" class="btn btn-primary btn-lg">Lieferschein auswählen</button>
                    </div>
                </div>
                <h4>Kommentare</h4>
                <ul *ngFor="let comment of invoiceProcess.comments">
                    <p class="comment-label">{{comment.user}}:</p>
                    <p>{{comment.text}}</p>
                </ul>

                <div class="form-group">
                    <label for="commentField">Kommentar</label>
                    <textarea class="form-control" id="commentField" rows="3" name="newComment" [(ngModel)]="newComment.text"></textarea>
                </div>
                <button type="button" id="add-comment" class="btn btn-primary" (click)="addComment()">
                    Hinzufügen
                </button>
                <hr>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button *ngIf="invoiceProcess.status=='INCOMING'" type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Änderungen speichern</span>
                </button>
                <button *ngIf="invoiceProcess.status=='INCOMING'" type="button" id="escalate-entity" (click)="escalate()"
                        class="btn btn-warning">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Eskalieren</span>
                </button>
                <button *ngIf="invoiceProcess.status!=='FINISHED'" type="button" id="finish-entity" (click)="finish()"
                        class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Rechnung buchen</span>
                </button>
            </div>
        </form>
    </div>
</div>
