<div>
    <h2 id="page-heading">
        <span>Rechnungsprüfung</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceProcesses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Bearbeitungsstatus</span></th>
            <th><span>Invoice Id</span></th>
            <th><span>Delivery Note Id</span></th>
            <th><span>Gebucht von</span></th>
            <th><span>Gebucht am</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceProcess of invoiceProcesses ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-process', invoiceProcess.id, 'view' ]">{{invoiceProcess.id}}</a></td>
                <td>{{invoiceProcess.status}}</td>
                <td><a [routerLink]="['/invoice', invoiceProcess.invoiceId, 'view' ]">{{invoiceProcess.invoiceId}}</a></td>
                <td>{{invoiceProcess.deliveryNoteId}}</td>
                <td>{{invoiceProcess.postedBy}}</td>
                <td>{{invoiceProcess.postedAt | date:'medium'}}</td>
                <td class="text-right">
                    <!--<div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-process', invoiceProcess.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Öffnen</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/invoice-process', invoiceProcess.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Öffnen</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
