<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceProcess">
            <h2><span>Invoice Process</span> {{invoiceProcess.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{invoiceProcess.status}}</span>
                </dd>
                <dt><span>Invoice Id</span></dt>
                <dd>
                    <span>{{invoiceProcess.invoiceId}}</span>
                </dd>
                <dt><span>Delivery Note Id</span></dt>
                <dd>
                    <span>{{invoiceProcess.deliveryNoteId}}</span>
                </dd>
                <dt><span>Posted By</span></dt>
                <dd>
                    <span>{{invoiceProcess.postedBy}}</span>
                </dd>
                <dt><span>Posted At</span></dt>
                <dd>
                    <span>{{invoiceProcess.postedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-process', invoiceProcess.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
